<a href="https://colab.research.google.com/github/dmdwn99/Face_recognition_attendance_check/blob/heeju/MYSQL_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymysql

db_conn = pymysql.connect(
        host='localhost', 
        port=3306, 
        user='ryureeru', 
        passwd='ryu2bread', 
        db='tmp_db', 
        charset='utf8')

tmp_db = db_conn.cursor()
tmp_db

참고 https://blog.naver.com/pjok1122/221539169731

In [ ]:
# 기존 테이블 수 확인
sql = 'SHOW TABLES;' # tmp 할 것
tmp_db.execute(sql)

In [ ]:
# user_info table 생성
sql = """
CREATE TABLE user_info (
    NUMBER INT UNSIGNED NOT NULL AUTO_INCREMENT,
    USER_ID VARCHAR(100) NOT NULL,
    USER_PW VARCHAR(100) NOT NULL,
    PRIMARY KEY(NUMBER)
);
"""

tmp_db.execute(sql)
db_conn.commit() # 데이터베이스를 변경하는 명령은 commit() 해주기

In [ ]:
# user_check table 생성
CREATE TABLE user_check (
    WEEK VARCHAR(20) NOT NULL
    USER_ID VARCHAR(100) NOT NULL,
    DATE_CHECK DATE NOT NULL,
    CHECK_CHECK VARCHAR(20) NOT NULL
);

In [ ]:
# 테이블 확인
sql = 'SHOW TABLES;'
tmp_db.execute(sql)

테이블에 데이터 넣기

In [ ]:
user_id = '18011787' #희주
user_pw = '1111'

In [ ]:
user_id = '18011886' #응주
user_pw = '1111'

In [ ]:
user_id = '19011745' #원석
user_pw = '1111'

In [ ]:
user_id = '19013231' #도경
user_pw = '1111'

In [ ]:
user_id = '20011918' #해리
user_pw = '1111'

In [ ]:
sql = "INSERT INTO user_info (USER_ID, USER_PW) VALUES ('%s', '%s')" % (str(user_id), str(user_pw))
tmp_db.execute(sql)
db_conn.commit() # 데이터베이스를 변경하는 명령은 commit() 해주기

In [ ]:
# 테이블 데이터 조회
sql = "SELECT * FROM user_info"
tmp_db.execute(sql)
results = tmp_db.fetchall()
for result in results:
    print (result, type(result))

테이블에 데이터 넣기 2

In [ ]:
week = '1week'
user_id = '18011787'
date_check = '2022-08-10'
check_check = 'X'

In [ ]:
week = '2week'
user_id = '18011787'
date_check = '2022-08-17'
check_check = 'X'

In [ ]:
week = '3week'
user_id = '18011787'
date_check = '2022-08-24'
check_check = 'X'

In [ ]:
sql = "INSERT INTO user_check (WEEK, USER_ID, DATE_CHECK, CHECK_CHECK) VALUES ('%s', '%s', '%s', '%s')" % (str(week), str(user_id), str(date_check), str(check_check))
tmp_db.execute(sql)
db_conn.commit() # 데이터베이스를 변경하는 명령은 commit() 해주기

In [ ]:
# 테이블 데이터 조회
sql = "SELECT * FROM user_info"
tmp_db.execute(sql)
results = tmp_db.fetchall()
for result in results:
    print (result, type(result))